<plugin name='gorm-gae' version='0.0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Graeme Rocher, Fabio Oshiro</author>
  <authorEmail>graeme.rocher@springsource.com</authorEmail>
  <title>Grails GormGae plugin</title>
  <description>A plugin that integrates the AppEngine development runtime and deployment tools with Grails.</description>
  <documentation>http://grails.org/plugin/app-engine</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>TestController</resource>
    <resource>org.grails.appengine.AppEngineReloadController</resource>
    <resource>oshiro.gorm.gae.GaePluginSupportService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>